img {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    
    max-width: 100px; /* Adjust the max-width as needed */
    max-height: 100px; /* Adjust the max-height as needed */
    width: auto;
    height: auto;
  }
  